<h1>book rack</h1>
<p>Create your own reading list from a library of curated books and head down to the nearest public library to borrow them.</p>

<div class="btn-group" role="group">
<a href="/auth/login" class="btn btn-default randomButton" >Log In</a>
</div>


<div class="btn-group" role="group">
<a href="/auth/signup" class="btn btn-default randomButton">Sign Up</a>
</div>
